:root {
    --bg-color-custom: #131429;
    --text-color-custom: #11a4ba;
    --hover-bg: #252831;
    --hover-border: #11a4ba;
    --dropdown-custom-color: #414757;
    --dropdown-custom-text: #fff;
    --dropdown-hover-color: #11a4ba;
    --dropdown-hover-border: #fff;
}

html,
body {
    margin: 0px;
    height: 100vh;
}

.app-height {
    height: 100vh;
}

.navbar {
    padding-bottom: 5px;
}

.navbar-toggler-icon {
    color: var(--text-color-custom);
    border-color: var(--text-color-custom);
}

.text-custom {
    color: var(--text-color-custom);
}

.text-bold {
    font-weight: bold;
}

.navbar-toggler {
    border: 0px solid rgba(255, 255, 255);
}

.sb-top {
    margin-top: 1200px;
    margin-left: 25px;
    height: 100%;
    width: 14%;
}

.container-sb-top {
    height: 100%;
    width: 14%;
}

@media screen and (min-width: 992px) and (orientation: landscape),
screen and (min-width: 992px) and (orientation: portrait) {
    body {
        margin: 0px;
        height: 100vh;
    }
    .root {
        width: 100vw !important;
    }
    .main-render {
        position: absolute;
        left: 104px;
        margin-top: 75px;
        width: calc(100vw - 140px);
        z-index: 0;
    }
    .top-nav-mar {
        position: fixed;
        left: 80px;
        width: calc(100vw - 80px);
        height: 60px;
        padding-left: 180px;
        color: white;
        z-index: 8;
    }
    .logo {
        padding: 10px;
        font-size: 25px;
        font-weight: bolder;
        color: var(--text-color-custom);
    }
}

@media screen and (max-width: 991px) and (orientation: landscape),
screen and (max-width: 991px) and (orientation: portrait) {
    .main-render {
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 98%;
    }
    .collapse {
        margin-top: 0px;
    }
    .navbar-toggler {
        margin: 0px;
    }
    .link-color {
        color: var(--text-color-custom);
    }
    .custom-toggler .navbar-toggler-icon {
        /**********You will need to modify the stroke inside the 'background-image' URL to match the rest of the colors*************/
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(17, 164, 186)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .custom-toggler.navbar-toggler {
        border-color: var(--text-color-custom);
    }
    .sub-nav-link {
        height: 45px;
        padding-left: 70px !important;
        background-color: var(--bg-color-custom) !important;
    }
    .sub-nav-link:hover {
        background: var(--bg-color-custom);
        border-left: 4px solid var(--text-color-custom);
        color: #fff !important;
        cursor: pointer;
    }
}

.LPane {
    z-index: 0;
    padding-top: 50px;
}

.bg-custom {
    background: var(--bg-color-custom);
}

.nav-ditem {
    width: 100%;
    background: gray;
}

.menu-span {
    padding: 20px;
}