html,
body {
    margin: 0px;
    height: 100vh;
    background-color: purple;
}

.app-height {
    height: 100vh;
}

.navbar {
    padding-bottom: 5px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border: 0px solid rgba(255, 255, 255);
}

.sb-top {
    margin-top: 1200px;
    margin-left: 25px;
    height: 100%;
    width: 14%;
}

.container-sb-top {
    height: 100%;
    width: 14%;
}

@media screen and (min-width: 768px) and (min-height: 500px) {
    body {
        margin: 0px;
        height: 100vh;
        width: calc(100vw - 95px);
        background-color: purple;
    }
    .RPane {
        margin-top: 65px;
        margin-left: 85px;
        width: 100%;
    }
    .sidebar-spacer {
        width: 85px;
    }
    .top-nav-mar {
        position: fixed;
        left: 80px;
        width: 100%;
        height: 60px;
        padding-left: 180px;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape),
screen and (max-width: 1024px) and (orientation: portrait) {
    .RPane {
        margin-top: 5px;
        margin-left: 0px;
    }
    .collapse {
        margin-top: 0px;
    }
    .navbar-toggler {
        margin: 0px;
    }
}

.LPane {
    z-index: 0;
    padding-top: 50px;
}

.bg-custom {
    background: #131429;
}

.nav-ditem {
    width: 100%;
    background: gray;
}

.menu-span {
    padding: 20px;
}