html,
body {
    margin: 0px;
    height: 100vh;
    background-color: purple;
}

.app-height {
    height: 100vh;
}

.navbar {
    height: 70px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border: 1px solid rgba(255, 255, 255);
}

.sb-top {
    margin-top: 120px;
    margin-left: 25px;
    height: 100%;
    width: 14%;
}

.container-sb-top {
    height: 100%;
    width: 14%;
}

@media screen and (min-width: 768px) {
    .RPane {
        margin-top: 65px;
    }
    .sidebar-spacer {
        width: 85px;
    }
}

@media screen and (max-width: 768px) {
    .RPane {
        margin-top: 20px;
    }
    .sidebar-spacer {
        width: 1px;
    }
}

.LPane {
    z-index: 0;
    padding-top: 50px;
}

.bg-custom {
    background: #131429;
}

.top-nav-mar {
    position: fixed;
    left: 80px;
    width: 100%;
    height: 60px;
    padding-left: 180px;
}

.nav-ditem {
    width: 100%;
    background: gray;
}

.menu-span {
    padding: 20px;
}